body {
    background-color: #eee;
    & #root {
        background-color: white;
        height: 94vh;
        box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    }
}

@media only screen and (min-width: 1024px) /* Large screens */ {
    #root {
        padding: 5px 0;
        margin: 2vh 30vw;
    }
}

@media only screen and (max-width: 1024px) /* Small screens */ {
    #root {
        margin: 2vh 2vw;
    }
}
